/* Estilizações globais */
@font-face {
    font-family: "Tittilium Web";
    src: url(fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;

    font-family: "Tittilium Web";
}



/* Estilizações da página */
.flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100dvh;
}

.primeiraparte {
    display: flex;
    flex-direction: column;
}



/* Estilizações da Segunda Parte da página */
.segundaparte {
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}